@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}
body {
  font-family: sans-serif;
  display: grid;
  grid-template: "query mapcss" 100px "buttons buttons" 20px "map map" auto;
}
#query {
  grid-area: query;
  resize: none;
}
#mapcss {
  grid-area: mapcss;
  resize: none;
}
#buttons {
  grid-area: buttons;
  display: grid;
  grid-auto-flow: column;
}
#map {
  grid-area: map;
}
