@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}
body {
  font-family: sans-serif;
  display: grid;
  grid-template: "query mapcss" min-content "buttons buttons" 20px "map map" auto;
}
#query {
  min-height: min-content;
  grid-area: query;
  resize: vertical;
}
#mapcss {
  min-height: 100px;
  grid-area: mapcss;
  resize: vertical;
}
#buttons {
  grid-area: buttons;
  display: grid;
  grid-auto-flow: column;
}
button {
  background-color: #6c757d;
  border: 1px solid black;
  color: white;
}
button.pending {
  background-color: #ffc107;
}
button.primary {
  background-color: #0d6efd;
}
button.success {
  background-color: #198754;
}
button.error {
  background-color: #dc3545;
}
#map {
  grid-area: map;
}
